body, html
{
	background-color: #EDEDED !important;
}

.avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.default-cursor {
	cursor: default;
}

.intro
{
	text-align: center;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-bottom: 25px;
}

.intro h1
{
	font-weight: 700;
	text-transform: uppercase;
}

.intro h5
{
	text-transform: uppercase;
	background-color: #f5f5f5;
	padding: 10px;
	color: #333333;
	display: inline-block;
	font-size: 1.2rem;
}


.about .col
{
	margin-bottom: 24px;
}

.about h5
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.about h6
{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.about hr
{
	width: 40px;
	margin-bottom: 25px;
}

.about .card
{
	text-align: center;
}

.about .card img
{
	margin-bottom: 15px;
}

footer
{
	padding-top: 0px;
}

.collapsible-header {
	padding: 0.5rem;
}
